*{
    background-color: black;
}


@media (max-width: 1023px){
.logo1{
    margin-left: 14px;
    height: 54px;
}
}
@media (min-width: 768px){
.logo1 {
    height: 54px;
    margin-top: 27px;
    margin: left 20px; 
}
}
video {
    
    height: auto;
    width: 100%;
  }
  
iframe{
    width: 100%;
    height: 100vh;

}
img{
    width: 100%;
}


